
h1 {

}

h2 {

}

h3 {

}

p {

}

.photopanel {

}

header {
    background-image: ;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
}

header h2 {
    text-align: center;
    color: pink;
}

header h3 {
    text-align: center;
    color: whitesmoke;

}

#bannerh1 {
    color: red;
}